.orange{
     background-color: coral;
}

.blue{
     background-color: blueviolet;
}

.purpul{
     background-color: brown;
}

.yellow{
     background-color: yellow;
}
.bold{
     font-weight: bold;
}